@import "commons.css";

a {
    font-weight: 300 !important;
}

p {
    margin: 0.5rem 0;
}

h1 {
	text-shadow: 0.1rem 0.1rem 0rem rgba(0,0,0,0.2);
    font-size: 1.5em;
    margin-top: 0;
}

main {
    width: 100%;
    padding: 2rem;
}

.date {
    font-weight: 500;
}

.info {
    font-weight: 300;
}

.iwanna {
    justify-content: center;
    align-items: center;
    display: flex;

    padding: 2rem;
}

.thumbnail {
    width: 16rem;
}

.thumbnail img {
    box-shadow: 0.2rem 0.2rem rgba(0,0,0,0.25);
    border: solid 4px #522424;
    width: 100%;
}

.text {
    margin-left: 3rem;
    width: 50%;
}

button {
    padding: 0.75rem 1.5rem;
    
    outline: none;
    border: none;
    
    background-color: black;
    font-weight: 600;
	color: #FFC9C9;

    cursor: pointer;
}